/***********************
 importing tailwind css
 ***********************/
/* base styles */
@tailwind base;
/* components */
@tailwind components;
/* utilities */
@tailwind utilities;

/***********************
 custom styles
 ***********************/
/* custom styles for fonts and html */
html {
  font-size: 62.5%;
}

/* custom styles for body */
body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}

/* custom styles for a */
a {
  color: #1da1f2;
  text-decoration: none;
}

/* custom styles for a hover*/
a:hover {
  color: #0f8ddd;
}


@layer components {

  /* creates hover effects for all sideber items */
  .hoverEffect {
    @apply cursor-pointer hover:bg-gray-200 rounded-full w-[52px] xl:w-auto h-[52px] xl:h-auto py-2 px-4;
  }
}